@model QnA_app.Models.AnswersTbl

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    var question = ViewBag.Question as QnA_app.Models.QuestionsTbl; 
}


<h4>Give Your Answer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
         <p>@question.Question</p>
        <form asp-action="AnswerThisQuestion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           

            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
               
                <textarea asp-for="Answer" class="form-control-plaintext"></textarea>
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Questions">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
